<html>
  <head>
    <title>
      <%= t('entry.ticket') %>: <%= @number %>
    </title>
    <style>
      body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
      p { margin-left:12px }
      h1 { margin-left:19px;font-size:25px;margin-top:-30px }
    </style>
  </head>
  <body onload="window.print()">
    <div>
  	  <p>
  	    <%= @barcode %>
  	  </p>
  	  <h1>
  	    <%= @number %>
  	  </h1>
  	</div>
	</body>
</html>
