app.controller({
    "name": "home",
    "actions": {
      "batch": function() {
        addCheckboxes("<%= I18n.t('home.batch.enable') %>")
      },
      "landing": function() {
        if(!Modernizr.canvas && !Modernizr.fontface) {
          $('#bm')[0].innerHTML = "<div class=\"alert alert-warning\"><strong><%= I18n.t('layouts.landing.warning') %></strong> <%= I18n.t('layouts.landing.warning_msg') %></div>";
        }
      }
    }
});

// Adds checkboxes to a form
function addCheckboxes(label) {
  var inputs = $(".form-group");
  for (var i = 1; i < inputs.length; i++) {
    var input = inputs[i];
    //try {
      if (input.children.length > 1) {
        var which_input = input.children[1].id;
        $(input.children[1]).addClass('col-md-9');
        input.innerHTML = input.innerHTML + generateCheckbox(which_input, label);
      } else {
        var which_input_checkbox = input.children[0].children[0].htmlFor;
        $(input.children[0]).addClass('col-md-9');
        input.innerHTML = input.innerHTML + generateCheckbox(which_input_checkbox, label);
      }
    //}
    //catch(e) {
      // Don't do anything with errors as I know how bad this is, it still works properly
    //}
  }
}

function generateCheckbox(which, label) {
  return  '<div class="checkbox col-md-3 batch-update">' +
            '<label for="' + which + '_enable" onmouseup="toggleEnable(this);">' +
              '<input name="entry[enable][' + which + ']" value="0" type="hidden">' +
              '<input id="' + which + '_enable" name="entry[enable][' + which + ']" value="1" type="checkbox">' + 
             label + 
            '</label>' +
          '</div>';
}

function toggleEnable(elem) {
  var elem_id = $(elem).attr('for').replace('_enable', '');
  var select = $('#' + elem_id);
  select.toggleClass('enabled');
}
