app.controller({
    "name": "home",
    "actions": {
      "batch": function() {
        addCheckboxes("<%= I18n.t('home.batch.enable') %>")
      },
      "landing": function() {
        if(!Modernizr.canvas && !Modernizr.fontface) {
          $('#bm')[0].innerHTML = "<div class=\"alert alert-warning\"><strong><%= I18n.t('layouts.landing.warning') %></strong> <%= I18n.t('layouts.landing.warning_msg') %></div>";
        }
      }
    }
});
