<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('mailer.role_update.title') %></h1>
    <p><%= "#{t('mailer.role_update.new_role')} #{@role}" %></p>
    <p><%= "#{t('mailer.role_update.site_link')} #{@url}" %></p>
    <p><%= t('mailer.role_update.greet') %></p>
  </body>
</html>
