<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('mailer.error_report.title') %></h1>
    <p><%= "#{t('mailer.error_report.sender')} #{@user.email}" %></p>
    <h3><%= t('mailer.error_report.message') %></h3>
    <p><%= @message %></p>
  </body>
</html>
