<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Stock shortage for <%= @type %></h1>
    <p>Badger is reporting a stock shortage of <%= @stock.downcase.pluralize %></p>
    <p>We would like some.</p>
    <p>Have a great day.</p>
  </body>
</html>
