<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('mailer.new_user.title') %></h1>
    <p><%= "#{t('mailer.new_user.message')} #{@user.email}" %><br/></p>
    <p><%= "#{t('mailer.new_user.site_link')} #{@url}" %></p>
  </body>
</html>
