<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>Role updated</h1>
    <p>
      Your role has been changed to: <%= @role %>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>
      Have a nice day.
    </p>
  </body>
</html>