/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

$black: #232323;
$white: #fafafa;

$gray-darker: #202020;
$gray-dark: #303030;
$gray: #505050;
$gray-light: #b0b0b0;
$gray-lighter: #e0e0e0;

$brand-primary: #6a9fb5;
$brand-success: #90a959;
$brand-info: #75b5aa;
$brand-warning: #f4bf75;
$brand-danger: #ac4142;

$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

@import "bootstrap";

body {
  padding-top: 60px;
}


/* give icons some extra margin to the right */
.glyphicon {
  margin-right: 3px;
}

/* Completely center an object and its text */
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

.navbar {
  background-color: $brand-info;
  border-color: lighten($brand-info, 15%);

  .navbar-collapse {
    border-color: lighten($brand-info, 15%);
  }
  .navbar-brand {
    color: $white;
    &:hover {
      color: $gray-lighter;
    }
  }
  .navbar-nav {
    li {
      a {
        color: $gray-lighter;
        &:hover {
          color: $white;
        }
      }
    }
    .active {
      a, a:hover {
        color: $white;
        background-color: lighten($brand-info, 15%);
      }
    }
  }
  .navbar-toggle {
    border-color: $brand-info;
    &:hover {
      background-color: lighten($brand-info, 15%);
      border-color: lighten($brand-info, 15%);
    }
  }
  /* /navigation name/company label styled like an anchor */
  .info-label {
    color: $gray-lighter;
    margin: 0 !important;
    padding: 15px;
    position: relative;
  }
}

/* /invoices class titles need no margin */
table h6 {
  margin: 0 !important
}

/* Give buttons some top margin and minimum width */
.btn-index, .btn-chart {
  min-width: 125px;
  margin-bottom: 5px !important;
}
.btn-chart {
  min-width: 300px;
}

/* Fix bootswatch alert colors
   Also added a wrapper div in _messages */
.alert-wrapper{
  border: 0 !important;
  padding: 0 !important;
}

/* Give glyphicons in anchors same colors */
a span {
  color: #333
}
a span:hover {
  color: #000
}

/* Languageflags */
.languageflag{
  display:inline-block;
  height:11px;
  width:16px;
  background: url(../assets/flags.png)  no-repeat;
}

.nlflag {
  background-position: -48px -44px;
}
.enflag {
  background-position: -16px -275px;
}
.deflag {
  background-position: -16px -22px;
}

/* /stats charts get some bottom margin */
.stat-chart {
  margin-top: 15px !important;
  margin-bottom: 30px !important;
}

.stat-toggle {
  margin-bottom: 30px !important;
}

/* Custom colours for stat progress bars */
.stat-colour-new {
  color: lighten($brand-success, 15%) !important;  
  background-color: lighten($brand-success, 15%) !important; 
}
.stat-colour-tested {
  color: $brand-success !important;
  background-color: $brand-success !important;
}
.stat-colour-repaired {
  color: $brand-info !important;
  background-color: $brand-info !important;
}
.stat-colour-scrap {
  color: $brand-primary !important;
  background-color: $brand-primary !important;
}
.stat-colour-waiting,
.stat-colour-skipped {
  color: $brand-warning !important;
  background-color: $brand-warning !important;
}
.stat-colour-ready {
  color: $brand-danger !important;
  background-color: $brand-danger !important;
}
.stat-colour-sent {
  color: darken($brand-danger, 15%) !important;
  background-color: darken($brand-danger, 15%) !important;
}
.stat-colour-none {
  background-color: transparent !important
}

/* Footer styling */
footer {
  padding-top: 10px;
  margin-top: 30px;
  background-color: lighten($gray-lighter, 7.5%);
  color: $gray;
  text-align: center;
  border-top: 1px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
}
.footer-links {
  margin: 10px 0;
  padding-left: 0;
  li {
    display: inline;
    padding: 0 2px;
    &:first-child {
      padding-left: 0;
    }
  }
}

@media (min-width: 768px) {
  footer {
    text-align: left;
    p {
      margin-bottom: 0;
    }
  }
}

/* Landing page */

/* Landing page buttons */
.btn-signup,
.btn-report {
  padding: 5px 12px !important;
}
.btn-group-landing {
  width: 100%;
  .btn {
    width: 100%;
    &:not(:first-child) {
      margin-top: 5px;
    }
  }
}

/* Landing page flags */
.panel-heading-landing {
  position: relative;
}

.landing-languageflags {
  .languageflag {
    position: absolute;
    top: 10px;
  }
  .enflag { left: 10px; }
  .nlflag { left: 35px; }
  .deflag { left: 60px; }
}
