/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* give icons some extra margin to the right */
.glyphicon {
  margin-right: 3px;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

table h6 {
  margin: 0 !important
}

/* Copyright footer */
footer {
  padding-top: 5px
}

/* Give buttons on the index some top margin */
.btn-index {
  min-width: 125px;
  margin-bottom: 5px !important;
}

/* Fix bootswatch alert colors
   Also added a wrapper div in _messages */
.alert-wrapper{
  border: 0 !important;
  padding: 0 !important;
}

/* Invert dropdown-submenu arrow colors
   so a dark theme displays correctly */
/*.dropdown-submenu > a:after {
  border-left-color: white !important;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #080b0e !important;
}*/

a span {
  color: #333
}

a span:hover {
  color: #000
}

.info-label {
  margin: 0 !important;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

.stat-chart {
  margin-bottom: 50px !important;
}