// Landing page
.landing {
  background-color: $gray-lighter;
  .landing-heading {
    color: $white;
    text-align: center;
    text-shadow: 2px 2px 3px $black-transparent;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $white-transparent;
    .landing-logo {
      height: 200px;
      width: 200px;
    }
    h1 {
      margin: 0;
      font-size: 5em;
    }
    h2 {
      margin: 0;
      padding-top: 5px;
      font-size: 1.5em;
    }
  }
  .landing-content {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $white-transparent;
    .btn-signin {
      width: 100%;
    }
  }
  .landing-footer {
    text-align: center;
    .landing-buttons {
      a {
        display: block;
      }
    }    
  }
}
