<div class="hero-unit center">
  <% @charts.each_pair do |key, array| %>
        <% if key == :global %>
          <h4>Global status</h4>
        <% end %>

        <div class="col-md-6 stat-chart">
      		<%= high_chart('pie_chart_stats_' + key.to_s, array[0]) %>
        </div>

        <div class="col-md-6 stat-chart">
          <%= high_chart('pie_chart_status_' + key.to_s, array[1]) %>
        </div>

        <% if key == :global %>
          <h4>Brand and type specific status</h4>
        <% end %>
  <% end %>
</div>