<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
  <div class="alert alert-wrapper">
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% flash.delete(name) %>
    </div>
    </div>
  <% end %>
<% end %>
