<ul class="nav navbar-nav navbar-right">
  <li role="presentation">
    <%= link_to(edit_user_registration_path) do %>
      <span class="glyphicon glyphicon-cog"></span>Edit account
    <% end %>
  </li>
  <li role="presentation">
    <%= link_to(destroy_user_session_path, :method => 'delete', :role => "menuitem", :tabindex => "-1") do %>
      <span class="glyphicon glyphicon-off"></span>Logout
    <% end %>
  </li>
</ul>
